<div class="w-[100vw] bg-baseGray">
  <div
    class="flex pl-10 pr-10 w-full h-16 items-center fixed z-50 bg-darkestBaseGray"
  >
    <h1 class="text-2xl text-white">Algorithms</h1>
  </div>
  <div class="w-full h-full pt-32 pl-10 pr-10">
    <div class="xl:col-span-2 sm:col-span-6 p-2">
      <h1 class="text-xl text-white mb-4 font-semibold">Sort an array</h1>
      <div>
        <h2 class="text-md text-white">Instructions:</h2>
        <p class="text-white w-[80%]">
          How do to blah blah adsf sdf. Create a maze, with two entrance points
          for start and finish and the algorithm will find the path. Run start
          to start the process.
        </p>
        <h2 class="text-md text-white mt-4">Explanation:</h2>
        <p class="text-white w-[80%]">The algorithm first does a search.</p>
      </div>
      <div class="flex mt-4">
        <sortingVisualizer></sortingVisualizer>
      </div>
    </div>
    <div class="xl:col-span-2 sm:col-span-6 p-2">
      <h1 class="text-xl text-white mb-4 font-semibold">Search a Maze</h1>
      <div>
        <h2 class="text-md text-white">Instructions:</h2>
        <p class="text-white w-[80%]">
          How do to blah blah adsf sdf. Create a maze, with two entrance points
          for start and finish and the algorithm will find the path. Run start
          to start the process.
        </p>
        <h2 class="text-md text-white mt-4">Explanation:</h2>
        <p class="text-white w-[80%]">The algorithm first does a search.</p>
      </div>
      <div class="flex mt-4">
        <mazeBox
          (mazeGraphChange)="setParimiterArray($event)"
          [shortestPath]="shortestPath"
          [explorePath]="explorePath"
          [currentNode]="currentNode"
        ></mazeBox>
        <div class="h-[280px] pl-4 flex flex-col justify-between">
          <div></div>
          <!-- <button
            class="p-1 bg-green-600 font-semibold rounded-lg w-24 hover:scale-95"
            (click)="runCodeHandler('DFS Recursive')"
          >
            Run Code DFS Recursive
          </button> -->
          <button
            class="p-1 bg-green-600 font-semibold rounded-lg w-24 hover:scale-95"
            (click)="shortestPathBFS()"
          >
            Find Shortest Path using BFS
          </button>
          <button
            class="p-1 bg-green-600 font-semibold rounded-lg w-24 hover:scale-95"
            (click)="solveGraphDFS()"
          >
            Explore the graph using DFS
          </button>
          <button
            class="p-1 bg-green-600 font-semibold rounded-lg w-24 hover:scale-95"
            (click)="solveGraphBFS()"
          >
            Explore the graph using BFS
          </button>
        </div>
      </div>
    </div>


    <div class="col-span-1"></div>
    <div class="col-span-2 p-2">
      <h1 class="text-xl text-white mb-4 font-semibold">Binary Search Tree</h1>
      <div>
        <h2 class="text-md text-white">The plan</h2>
        <p class="text-white w-[80%]">
          Will have 3 functions: <br />
          1. Add a number to the tree (insert function) <br />
          2. Search the tree (search function) <br />
          3. Delete node from tree
        </p>
        <h2 class="text-md text-white mt-4">Explanation:</h2>
        <p class="text-white">Animate Search Process</p>
      </div>
      <div class="flex mt-4">
        <binarysearchtree></binarysearchtree>
        <!-- <div class="h-[280px] pl-4 flex flex-col justify-between">
          <div></div>
          <button
            class="p-1 bg-green-600 font-semibold rounded-lg w-24 hover:scale-95"
          >
            Run Code
          </button>
        </div> -->
      </div>
    </div>
    <div class="col-span-2"></div>
  </div>
</div>
