<div class="flex flex-wrap gap-2 justify-center">
  <button (click)="resetArrayHandler()" class="btn p-1 bg-green-600 font-semibold rounded-lg w-24 hover:scale-95 mx-2">
    Reset Array
  </button>
  <button (click)="mergeSortHandler()" class="btn p-1 bg-green-600 font-semibold rounded-lg w-24 hover:scale-95 mx-2">
    Merge Sort
  </button>
  <button (click)="binaryInsertionSortHandler()" class="btn p-1 bg-green-600 font-semibold rounded-lg w-24 hover:scale-95 mx-2">
    Binary Insertion Sort
  </button>
  <button (click)="quickSortHandler()" class="btn p-1 bg-green-600 font-semibold rounded-lg w-24 hover:scale-95 mx-2">
    Quick Sort
  </button>
  <button (click)="cocktailShakerSortHandler()" class="btn p-1 bg-green-600 font-semibold rounded-lg w-24 hover:scale-95 mx-2">
    Cocktail Shaker Sort
  </button>
  <button (click)="LSDRadixSortHandler()" class="btn p-1 bg-green-600 font-semibold rounded-lg w-24 hover:scale-95 mx-2">
    LSD Radix Sort
  </button>
</div>


<div class="flex items-end p-5">
  <div
    *ngFor="let bar of barArray"
    class="bg-gray-white barStyles {{ barColorClass[bar - 1] }}"
    [style.height.px]="bar * 6"
  ></div>
</div>
